
# Ignore anything in the temp directory.
*temp*

# Docs can be generated with the `docs` command.
*docs*

# SQL and CSV files should be ignored, unless specifically committed.
*.sql
*.csv

# Ignore user-specific VSCode settings.
.vscode/*settings*

# Don't care about Mac's file tracking.
.DS_Store